* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:1600px;
}
.mainlogo {
  border: 1px solid #FFF;
  padding: 4px;
  color: #FFF;
}
#designer{
  color: #FFF;
}
#logo{
  color: #FFF;
}
header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 15rem;
}

header li {
  margin: 0 1.54rem;
}

header nav a{
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

header nav a:hover {
  color: white;
}
.donate-button{
 color: orange;
}
.imgplaceholder{
  display: flex;
justify-content: center;}


.section2 {
  background-color: #FEBDABBD;
  width: 1600px;
  padding: 40px 220px 180px 220px;
  margin: 0 auto;

}
.h3-el{
  padding-top: 40px;
  color: #fff;
}

.paragraph1{
  color: #fff;
  padding-top:10px;
}

.donation-info{
  color: orange;
  font-size: 36px;
  padding-top: 40px;
  margin-bottom: 60px;
}

.section2main1{
  display: flex;
  
  
} 
.section2main2{
display: flex;
flex-direction: column;
align-items: center;
background-color: #FFFFFF85;
padding:40px 92px 61px 92px;
}
.h2-el{
  color: orange;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section2p{
  margin-bottom: 107px;
}
.n4-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:11px
}
.num4{
  font-size: 72px;
  font-weight: 700;
}

.middle-part{
  display: flex;
  align-items: center;
  gap:70px;
}
.small-panda{
  width: 270px;
  height: 198px;
}
.amount-part{
margin-top:90px;
}

.money-bar{
  width: 976px;
  height: 27px;
  background-color: #404950;
  display: flex;
  gap:120px;
  align-items: center;
  padding-left: 26px;
}
.yellow-clickers{
  width: 10px;
  height: 10px;
  background-color:#FFEE2E;
  border-radius: 30px;

}

.money{
  width: 976px;
  display: flex;
  justify-content: space-between;
  gap:70px;
  font-size: 26px;
  font-weight: 500;
}

.orange-money{
  color:#FE9013;
}



.logo-money{
  display: flex;
  flex-direction: column;
}

.yellow-clickers-special{
  
     width: 10px;
     height: 10px;
     background-color: #FE9013;
   
}
.yellow-clickers-special .circle1 {
  position: relative;
  width: 40px;
  height: 40px;
  color: orange;
  border: 3px solid #FE9013;

  color: #FE9013;
  border-radius: 50%;
}

.circle2 {
  transform: translate(25%, 25%);
  width: 23px;
  height: 23px;
  border: 3px solid #FE9013;
  border-radius: 50%;
}
.another-amount-field{
 margin-top: 50px;
  border: 1px solid #929699;
  border-radius: 2px;
  width: 268px;
  display: flex;
  justify-content: space-between;
  padding:16px 17px 16px 9px;
}
.another-amount{
  color:#929699;
  font-weight: 400;
}
.sign-dollar{
  color:#929699;
  font-weight: 400;
}

.circle-monthly{
  width: 16px;
  height: 16px;
  border:1px solid #FE9013;
  border-radius: 50%;
}
.month-cont{
  display: flex;
  gap:10px;
}
.circle-once{
  width: 16px;
  height: 16px;
  border:1px solid #FE9013;
  border-radius: 50%;
}
.once-cont{
  display: flex;
  gap:10px;

}
.monthly-once{
  display: flex;
  gap:50px;
  margin-top:25px;
}
.button {
  background-color: orange;
  color:#fff;
  padding:16px 1px 16px 5px;
  border-radius: 25px;
  border: 1px solid orange;
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 500;
}
.share{
  margin-top: 30px;
}
.footer{
  background-color: black;
  width: 1600px;
  height: 443px;
  margin: 0 auto;
  padding:40px 31px 50px 31px;
  border-bottom: 30px solid #fff;
 
}

.footerlogo{
  position: relative;
  border: 1px solid #FFF;
  padding: 4px 4px 4px 4px;
  width: 82px;
}
.subscribe{
  font-size: 24px;
  margin-bottom: 14px;
  line-height: 28.8px;
  font-weight: 400;
  color:#FFF;
  
}
.donate{
  font-size: 16px;
  line-height: 22px;
  padding-top:16px;
  padding-bottom: 16px;
  margin-left:31px;
  border-radius: 20px;
  width: 298px;
  align-items: center;
  color:#FFF;
  background-color: orange;
text-transform: uppercase;
}
.email{
  font-size: 16px;
  line-height: 22.4px;
  width: 228px;
  color:#BDBDBD;
  font-weight: 400;
  border: 2px solid orange;
  border-radius: 2px;
  padding: 10px 7px 10px 10px;
}
.submit{
  width: 129px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  color: #000;
  background-color: #fff;
  padding: 10px 39px 10px 39px;
}
.email-submit{
  display: flex;
  flex-direction: row;
  gap:9px;
}

.facebook-icon{
  width: 22px;
  height: 20px;
  padding:5px 9px 5px 9px;
  background-color: #C4C4C480;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  gap:12px;
  
}
.twitter-icon{
  width: 22px;
  height: 20px;
  padding:5px 9px 5px 9px;
  background-color: #C4C4C480;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  gap:12px;
}
.instagram-icon{
  width: 22px;
  height: 20px;
  padding:5px 9px 5px 9px;
  background-color: #C4C4C480;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  gap:12px;

}
.youtube-icon{
  width: 22px;
  height: 20px;
  padding:5px 9px 5px 9px;
  background-color: #C4C4C480;
  border-radius: 50%;
display: flex;
  flex-direction: row;
  gap:12px;

}
.footer-p{
  color:#FFF;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
.social-icons{
  display: flex;
  flex-direction: column;
}
.footer-infos{
  color:#FFF;
  display: flex;
  flex-direction: row;
  gap:48px;
  font-size: 16px;
  font-weight: 400;

}
.about{
  color: orange;
}
.designer{
  font-size: 16px;
  color:#fff;
  display: flex;
  flex-direction: column;
}
.footer-1th{
  display: flex;
  flex-direction: column;
  gap:68px;
}
.footer-2th{
  display: flex;
  flex-direction: column;
  gap:14px;
}
.footer-part1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.footer-part2{
  display: flex;
  flex-direction: row;
  margin-top:49px;
  gap:298px;
  justify-content: space-between;
  align-items:flex-end;
} 
